
        #basic-navbar-nav a { color:white; }
	                     a:focus{ color:white; }
		#basic-navbar-nav a:hover { color:white; }
		
		
        		
		a:link {
               text-decoration: none; padding:10px; color:white
              }
	  
	   .navbar-toggler {background-color: gray; cursor: pointer;} 
	   
	   .navbar-toggler:focus {background-color: gray; cursor: pointer;} 
	   .navbar-toggler:hover {background-color: green; cursor: pointer;}
   
	   
             

       